@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light mainindex cover-background h-100 d-flex justify-content-center align-items-center flex-column">
    <h1 class="display-4 py-4">Witaj w Gym 4 You!</h1>
    <h1 class="display-4 py-4">Właśnie rozpoczyna się Twoja przygoda ze sportem w NAJLEPSZYM możliwym wydaniu</h1>
    <h4 class="display-4 py-4 font-weight-bold">--Gym4You</h4> 
</div>
