@{
    ViewData["Title"] = "Home";
}

<div class="text-center text-light mainindex cover-background h-100 d-flex justify-content-center align-items-center flex-column">
    <h1 class="display-4 py-4">Witaj w Gym 4 You!</h1>
    <h1 class="display-4 py-4">Właśnie rozpoczyna się Twoja przygoda ze sportem w NAJLEPSZYM możliwym wydaniu</h1>
    <h1 class="display-4 py-4 font-weight-bold">-- Gym4You</h1> 
</div>

  <!-- Trainers -->
  <section class="page-section" id="trainers">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Nasi Trenerzy</h2>
          <h3 class="section-subheading text-muted">Poznaj nasz super zespół Gym 4 You!</h3>
        </div>
      </div>
      <div class="row text-center">
          <div class="col-md-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="../img/team/1.jpg" alt="">
                <h4 class="service-heading">Zosia Malinowska</h4>
              <p class="text-muted">
                  Sportem interesuje się od dziecka, kiedy to w wieku 9 lat rodzice zapisali ją na zajęcia z ju jitsu. Od tamtej pory regularnie trenuje, uczestniczy w zawodach międzynarodowych i zdobywa medale. Chętnie dzieli się z innymi swoją wiedzą i doświadczeniem.
                  <br>Jej motto to "Samo się nie zrobi"!<br>
                  Prowadzone zajęcia: JIU-JITSU
              </p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="../img/team/3.jpg" alt="">
              <h4 class="service-heading">Krysia Skotnicka</h4>
              <p class="text-muted">
                  Krysia od dziecka zmagała się z otyłością spowodowaną niewłaściwym trybem życia.
                  W wieku 18 lat postanowiła zmienić swoje ciało. Zmieniła dietę oraz rozpoczęła ćwiczenia pod okiem trenera. Teraz jest certyfikownym trenerem personalnym, który na co dzień pomaga wielu osobom zrzucić zbędne kilogramy.<br>
                  Prowadzone zajęcia: TURBOSPALANIE
              </p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="../img/team/4.jpg" alt="">
              <h4 class="service-heading">Marta Wieczorek</h4>
              <p class="text-muted">
                  Absolwentka Akademii Wychowania Fizycznego w Katowicach, nauczycielka jogi.
                  Uważa, że ból, napięcie mięśniowe oraz stres, który towarzyszy nam w codziennym życiu można zniwelować dzięki regularnym ćwiczeniom jogi. Poprawia się również gibkość ciała oraz stan umysłu :)<br>
                  Prowadzone zajęcia: JOGA
              </p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="../img/team/5.jpg" alt="">
              <h4 class="service-heading">Ania Poznańska</h4>
              <p class="text-muted">
                  Ania ukończyła Fizjoterapię na Akademii Wychowania Fizycznego w Warszawie. Zawsze podkreśla, że rozciąganie po treningu jest niezwykle ważne do prawidłowego rozwoju ciała. Fascynuje ją rozbudowa ciała, a w szczególności trening pośladków.
                  <br>Prowadzone zajęcia: BRAZYLIJSKIE POŚLADKI
              </p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="../img/team/6.jpg" alt="">
              <h4 class="service-heading">Ala Nowak</h4>
              <p class="text-muted">
                  Pasją Ali jest taniec, który trenuje od najmłodszych lat. Na swoim koncie posiada Mistrzostwo Świata w tańcu latynowskim. Lubi wymyślać choreografię oraz pracować z grupą ludzi, których zaraża swoją pozytywną energią!
                  <br>Prowadzone zajęcia: ZUMBA
              </p>
              </div>
        </div>
      </div>
    </div>
  </section>

<div class="text-center text-light mainindex cover-background h-80 d-flex justify-content-center align-items-center flex-column"></div>

    <!-- Classes -->
  <section class="page-section" id="clases">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Nasze zajęcia</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">E-Commerce</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Responsive Design</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Web Security</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
      </div>
    </div>
  </section>
