@{
    ViewData["Title"] = "Home";
}

<div class="text-center text-light mainindex cover-background h-100 d-flex justify-content-center align-items-center flex-column">
    <h1 class="display-4 py-4">Witaj w Gym 4 You!</h1>
    <h1 class="display-4 py-4">Właśnie rozpoczyna się Twoja przygoda ze sportem w NAJLEPSZYM możliwym wydaniu</h1>
    <h1 class="display-4 py-4 font-weight-bold">-- Gym4You</h1> 
</div>

  <!-- Trainers -->
  <section class="page-section" id="trainers">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Nasi Trenerzy</h2>
          <h3 class="section-subheading text-muted">Poznaj nasz super zespół Gym 4 You!</h3>
        </div>
      </div>
      <div class="row text-center">
          <div class="col-md-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="../img/team/1.jpg" alt="">
                <h4 class="service-heading">Zosia Malinowska</h4>
              <p class="text-muted">
                  Sportem interesuje się od dziecka, kiedy to w wieku 9 lat rodzice zapisali ją na zajęcia z ju jitsu. Od tamtej pory regularnie trenuje, uczestniczy w zawodach międzynarodowych i zdobywa medale. Chętnie dzieli się z innymi swoją wiedzą i doświadczeniem.
                  <br>Jej motto to "Samo się nie zrobi"!<br>
                  Prowadzone zajęcia: JIU-JITSU
              </p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="../img/team/3.jpg" alt="">
              <h4 class="service-heading">Krysia Skotnicka</h4>
              <p class="text-muted">
                  Krysia od dziecka zmagała się z otyłością spowodowaną niewłaściwym trybem życia.
                  W wieku 18 lat postanowiła zmienić swoje ciało. Zmieniła dietę oraz rozpoczęła ćwiczenia pod okiem trenera. Teraz jest certyfikownym trenerem personalnym, który na co dzień pomaga wielu osobom zrzucić zbędne kilogramy.<br>
                  Prowadzone zajęcia: TURBOSPALANIE
              </p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="../img/team/4.jpg" alt="">
              <h4 class="service-heading">Marta Wieczorek</h4>
              <p class="text-muted">
                  Absolwentka Akademii Wychowania Fizycznego w Katowicach, nauczycielka jogi.
                  Uważa, że ból, napięcie mięśniowe oraz stres, który towarzyszy nam w codziennym życiu można zniwelować dzięki regularnym ćwiczeniom jogi. Poprawia się również gibkość ciała oraz stan umysłu :)<br>
                  Prowadzone zajęcia: JOGA
              </p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="../img/team/5.jpg" alt="">
              <h4 class="service-heading">Ania Poznańska</h4>
              <p class="text-muted">
                  Ania ukończyła Fizjoterapię na Akademii Wychowania Fizycznego w Warszawie. Zawsze podkreśla, że rozciąganie po treningu jest niezwykle ważne do prawidłowego rozwoju ciała. Fascynuje ją rozbudowa ciała, a w szczególności trening pośladków.
                  <br>Prowadzone zajęcia: BRAZYLIJSKIE POŚLADKI
              </p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="../img/team/6.jpg" alt="">
              <h4 class="service-heading">Ala Nowak</h4>
              <p class="text-muted">
                  Pasją Ali jest taniec, który trenuje od najmłodszych lat. Na swoim koncie posiada Mistrzostwo Świata w tańcu latynowskim. Lubi wymyślać choreografię oraz pracować z grupą ludzi, których zaraża swoją pozytywną energią!
                  <br>Prowadzone zajęcia: ZUMBA
              </p>
              </div>
        </div>
      </div>
    </div>
  </section>

<div class="text-center text-light mainindex cover-background h-80 d-flex justify-content-center align-items-center flex-column"></div>

    <!-- Classes -->
  <section class="page-section" id="clases">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Nasze zajęcia</h2>
          <h3 class="section-subheading text-muted">Zapraszamy na ćwiczenia grupowe.</h3>
        </div>
      </div>
      <div class="row text-center">
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">JIU-JITSU</h4>
              <p class="text-muted">Tradycyjna japońska sztuka walki stosowana w samoobronie, bez użycia broni. Uznawana za najbardziej skuteczną technikę ubezwłasnowolnienia przeciwnika przy użyciu różnych rodzajów chwytów, które poznacie na zajęciach. Zachęcamy wszystkich do zapoznania się chociażby z podstawowymi chwytami, które mogą okazać się użyteczne podczas samoobrony.</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">TURBOSPALANIE</h4>
              <p class="text-muted">Ćwiczenia aerobowe mające na celu spalenie zbędnej tkanki tłuszczowej przy wyższym tętnie. Opiera się na stałej intensywności treningu i jednostajnym tempie. Do ćwiczeń używamy sprzętu dostępnego na sali – skakanki, gumy, ciężarki i turbospalamy! Trening na bazie interwałów z krótkimi przerwami, który poprawia wydolność organizmu.</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">JOGA</h4>
              <p class="text-muted">Joga należy do ponadczasowych ćwiczeń, które rozwijają ciało, oczyszczają umysł, uspokajają oraz pomagają w pozbyciu się bólów mięśniowych i stawowych. Działają zapobiegawczo chorobom cywilizacyjnym i psychosomatycznym, jak: bezsenność, zmęczenie, otyłość, alergie, nadciśnienie, depresja.</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">BRAZYLIJSKIE POŚLADKI</h4>
              <p class="text-muted">Zajęcia, w których pracujemy nad rozbudową i wzmocnieniem mięśni pośladkowych oraz ud. Ale nie zapominamy również o prawidłowej postawie ciała, stąd również skupiamy się na mięśniach pleców. Zajęcia zaczynają się od rozgrzewki, następnie części głównej, podczas której  używamy sztang, wolnych ciężarów, stepów, a kończą się na rozciąganiu.</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">ZUMBA</h4>
              <p class="text-muted">Zajęcia taneczne połączone z elementami treningu wytrzymałościowego w rytmie muzyki latynowskiej. Pozwalają na pozbycie się dodatkowej tkanki tłuszczowej połączonej z dobrą zabawą. Zajęcia skierowane dla początkujących oraz zaawansowanych, ponieważ podczas każdych zajęć zaczynamy od prostych choreografii i kolejno dodajemy nowe elementy podczas zajęć.</p>
          </div>
      </div>
    </div>
  </section>
